@mixin phone {
    @media (min-width: $phone) {
        // directiva que permite inyectarle un bloque de codígo
        @content;
    }
}

@mixin tablet {
    @media (min-width: $tablet) {
        // directiva que permite inyectarle un bloque de codígo
        @content;
    }
}

@mixin desktop {
    @media (min-width: $desktop) {
        // directiva que permite inyectarle un bloque de codígo
        @content;
    }
}

@mixin grid($columnas, $espaciado) {
    display: grid;
    grid-template-columns: repeat($columnas, 1fr);
    gap: $espaciado;
}

@mixin flex($fd, $jc, $ai, $gap) {
    display: flex;
    flex-direction: $fd;
    justify-content: $jc;
    align-items: $ai;
    gap: $gap;
}