$fontMain: 'Spectral', serif;

// colores
$green: #4CBBB3;
$pink: #F53756;
$yellow: #FEF46D;
$purple: #752F97;
$black: #000000;
$white: #FFFFFF;

// media queries


// fuentes
$light: 300;
$regular: 400;
$bold: 700;
$extra-bold: 800;

// Separaciones
